/**
 * Taxonomy Tree
 */

// main div
#taxonomytree {

    // inner svg
    svg { }
}

// texts
.node {
    cursor: pointer;
}
// lines
.link { }

.textCurvy { cursor: default; }
.infoCurvy { }
.circle { }

// alertbox
#alertbox {
     z-index: 400;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

#alert-box-inner {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     width: 100vw;
     background-color: rgba(255,255,255,.7);
     opacity: 0;
}

#alert-box-inner-inner {
     background-color: #f3f2ef;
     background-color: rgba(255,255,255,1);
     border: 1px solid black;
     opacity: 0;
     padding: 15px;
     width: 90%;
}

#alert-text {
     padding: 0 20px 20px 20px;
     h3 {padding-bottom: 20px;}
}

#alert-skip {
     cursor: pointer;
     svg{
          height: 20px;
          width: 20px;
     }
     display: block;
     text-align: right;
     padding: 5px;
}

#alert-link {
     display: block;
     text-align: right;
     padding-bottom: 10px;
     padding-right: 5px;
}
