/**
 *   post-type-archive-structure
 */


// general
// .post-type-archive-structure {
//      h1 {
//           padding-top: .2em;
//           line-height: 1.1em;
//      }
//      .post-excerpt {
//           font-weight: 600;
//           padding-top: 2em;
//      }
// }
//
// .main-header.sticky {z-index: 400;}

// taxonomy tree
.node {
     cursor: pointer;
     circle {
          // fill: #fff;
          stroke: steelblue;
          stroke-width: 1.5px; 
     }
     // TODO: Textgröße und -styling vereinheitlichen
     // text {font: 1rem sans-serif;}
}

.link {
     fill: none;
     stroke: #ccc;
     stroke-width: 1.5px;
}

.textCurvy {
     cursor: default;
}


#categorytree {
    width: 100%;
    overflow-x: scroll;
    overflow-x: hidden;
    background-color: white;
    svg {
         display: block;
         // width: 1100px;
         margin: 0 auto;
         background-color: rgba(255, 255, 255, 1);
    }
    text  {
         // font-family: GTAmerica, sans-serif;
         // font-size: .7rem;
    }
}

.gradient {
     position: absolute;
     z-index: 200;
     height: 700px;
     width: 10%;
     transition: 1s;
}
.right {
     background-image: linear-gradient(to right, rgba(255, 255, 255,0), rgba(255, 255, 255,1));
     margin-left: 90%;
     transition: 1s;
}
.left {
     background-image: linear-gradient(to left, rgba(255, 255, 255,0), rgba(255, 255, 255,1));
}

$tree-width: 1100px;
$measurepoints-size: 20px;

#tree-container {
     width: 100%;
     text-align: center;
     overflow: hidden;
     margin: 40px 0 80px 0;
}

// taxonomy tree responsive
#scroll-container {
     overflow-x: auto;
     scroll-behavior: smooth;
     -webkit-overflow-scrolling: touch;
     scrollbar-width: none;
     &::-webkit-scrollbar {
          display: none;
     }
     .inner {
          width: $tree-width;
          margin: 0 auto;
     }
     .inner .slidepoints {
          width: $measurepoints-size;
          height: $measurepoints-size;
          border-radius: 100%;
          float: left;
          color: transparent;
          &#slide-1{margin-left: 100px;}
          &#slide-2{margin-left: 230px;}
          &#slide-3{margin-left: 240px;}
          &#slide-4{margin-left: 265px;}
     }
}

.navi {
     display: inline-block;
     a {
          display: block;
          float: left;
          width: $measurepoints-size;
          height: $measurepoints-size;
          border-radius: 100%;
          border: 1px solid black;
          margin: 60px 10px 20px 10px;
          transition: 1s;
     }
}
.visible {
     background-color: #91f2dc;
}

// alertbox
#alertbox {
     z-index: 400;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

#alert-box-inner {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     width: 100vw;
     background-color: rgba(255,255,255,.7);
     opacity: 0;
}

#alert-box-inner-inner {
     background-color: #f3f2ef;
     background-color: rgba(255,255,255,1);
     border: 1px solid black;
     opacity: 0;
     padding: 15px;
     width: 90%;
}

#alert-text {
     padding: 0 20px 20px 20px;
     h3 {padding-bottom: 20px;}
}

#alert-skip {
     cursor: pointer;
     svg{
          height: 20px;
          width: 20px;
     }
     display: block;
     text-align: right;
     padding: 5px;
}

#alert-link {
     display: block;
     text-align: right;
     padding-bottom: 10px;
     padding-right: 5px;
}


/*
 * Single Structure
 */

// .single-structure {
//      .gallery-expanded {
//           .post-navi,
//           .post-footer {opacity: 0;}
//      }
//      .post-excerpt {
//           margin-bottom: 3em;
//      }
// }
//
// .archive-post-excerpt {
//      margin-top: 2em;
//      strong {
//           font-weight: 600;
//           display: block;
//           padding-bottom: 1em;
//      }
// }
//
// .tax-structure {
//      line-height: 2em;
//      font-size: 90%;
//      font-weight: 600;
//      margin-bottom: 3em;
//      svg {
//           height: 1em;
//           width: 1.25em;
//           position: relative;
//           top: 3px;
//           margin-right: .5em;
//           margin-left: .2em;
//           opacity: .5;
//      }
//      ul li:nth-child(3) {
//           margin-left: 2em;
//      }
// }
//
// pre {
//      font-size: 70%;
//      line-height: 1.35em;
//      opacity: .6;
//      overflow: hidden;
//      &::before {
//           content: "" ;
//           display: block;
//           width: 25%;
//           height: 1em;
//           border-top: 1px solid black;
//           margin-top: 5em;
//      }
//      white-space: pre-wrap;       /* css-3 */
//      white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
//      white-space: -pre-wrap;      /* Opera 4-6 */
//      white-space: -o-pre-wrap;    /* Opera 7 */
//      word-wrap: break-word;       /* Internet Explorer 5.5+ */
//
// }
//
// .post-navi .line {
//      margin: 0% 5%;
//      width: 90%;
//      height: 0%;
//      border-bottom: 1px solid black;
//      float: left;
// }
//
// .post_link {
//      float: left;
//      width: 49.5%;
//      color: grey;
//      margin: 10% 0;
//      padding: 5% 0;
//      font-size: 70%;
//      a {
//           font-size: 140%;
//           display: block;
//           color: black;
//      }
//      svg {
//           line-height: 1.5em;
//           height: 1em;
//           width: 3em;
//      }
//      &:hover {
//           opacity: .5;
//           transition: 1s;
//      }
// }
//
// #previous_post_link,
// #next_post_link {
//      width: 100%;
//      text-align: center;
//      padding: 0%;
// }
//
// #previous_post_link {
//      svg {float: left;}
//      span {padding-right: 10%;}
// }
//
// #next_post_link {
//      svg {float: right;}
//      span {padding-left: 10%;}
// }
//
// #back_to_taxonomy {
//      cursor: pointer;
//      clear: both;
//      text-align: center;
//      border: 1px solid black;
//      background-color: rgba(255, 255, 255, 1);
//      width: 90%;
//      margin: 5%;
//      padding: 10%;
//      &:hover {
//           opacity: .5;
//           transition: 1s;
//      }
// }


/*
 * responsive
 */

@media (max-width: 399px) {
     .inner {margin-left: 20%!important;}
     }

@media (min-width: 400px) {
     .inner { margin-left: 20%!important;
          svg { padding-right: 30px!important;}
     }
}

@media (min-width: 576px) {
     #slide-1{margin-left: 250px!important;}
     #slide-2{margin-left: 250px!important;}
     #slide-3{margin-left: 250px!important;}
     #slide-4, .navi a:nth-child(4) {display: none;}
     #alert-box-inner-inner {width: 400px;}

     #back_to_taxonomy {
          width: auto;
          margin: 5% 25%;
          padding: 5%;
     }
     #previous_post_link {
          width: 49.5%;
          text-align: right;
          padding-right: 10%;
          span {padding: 0;}
     }
     #next_post_link {
          width: 49.5%;
          text-align: left;
          padding-left: 10%;
          span {padding: 0;}
     }
     .post-navi .line {
          margin: 5% 0;
          width:0%;
          height:130px;
          border-left:1px solid black;
     }
}

@media (min-width: 768px) {
     #slide-1{margin-left: 250px!important;}
     #slide-2{margin-left: 450px!important;}
     #slide-3, .navi a:nth-child(3) {display: none;}
     #slide-4, .navi a:nth-child(4) {display: none;}
     .navi a {margin-top: 100px;}
     #tree-container {margin: 80px 0 120px 0;}
}

@media (min-width: 992px) {
     #categorytree svg {
          width: 990px;
          padding-right: 0px!important;
     }
     .inner {
          width: 990px!important;
          margin: 0 auto!important;
     }
     .navi a {display: none;}
     .gradient {display: none;}
}

@media (min-width: 1200px) {
     #categorytree svg {width: 1100px;}
     .inner {width: 1100px!important;}
     .navi a {display: none;}
}
