/**
 * Taxonomy Tree
 */

// main div
#taxonomytree { }

// hover elements
.node,
.labels,
.circle,
.textCurvy {
    cursor: pointer;
}

// horizontal text elements
.labels {
    transform: translate(0,-5px);

    &.taxonomy {
        fill: rgba(255,255,255, 1);
    }
}

// all text elements
.labels,
.textCurvy {
    font-weight: 400;

    &.highlight {
        font-weight: 600;
    }
}

// lines
.link,
.line,
.my-circle,
.blog-link,
.vertical-line,
.horizontal-line {
    fill: none;
    stroke-width: 1;

    &.highlight {
        stroke-width: 2.25;
    }
}

/* ------------------------ */
// alertbox

#alertbox {
    z-index: 400;
    position: fixed;
    top:  0;
    left: 0;
    margin: 10vh 10vw;
    width:  80vw;
    height: 80vh;
    background-color: rgba(255,255,255, 1);
    border: 2px solid rgba(0,0,0, 1);

    &.hide-me {
        display: none;
    }
}
#alert-skip,
#alert-link {
    cursor: pointer;
}
#alert-skip {
    display: block;
    text-align: right;
    margin: 10px;
}
#alert-text {
    margin: 0px 15px;
}
