/**
 * Taxonomy Tree Styles
 */

// tree
#taxonomytree {
    .label { transform: translate(0,-5px); }
    .taxonomy { fill: rgba(255,255,255, 1); }

    // hover
    .node,
    .label,
    .label-button,
    .label-curvyText { cursor: pointer; }

    // highlight
    .label,
    .label-curvyText {
        font-weight: 400;

        &.highlight {
            font-weight: 600;
        }
    }
    .link,
    .label-line,
    .label-button,
    .label-button-circle,
    .label-button-line {
        fill: none;
        stroke-width: 1;

        &.highlight {
            stroke-width: 2.25;
        }
    }
}

// infobox
#infobox {
    z-index: 400;
    position: fixed;
    top:  0;
    left: 0;
    margin: 10vh 10vw;
    width:  80vw;
    height: 80vh;
    background-color: rgba(255,255,255, 1);
    border: 2px solid rgba(0,0,0, 1);

    &.hide-me {
        display: none;
    }
}
#infobox-skip {
    display: block;
    text-align: right;
    margin: 10px;
}
#infobox-text {
    margin: 0px 15px;
    h3 {}
    p {}
}

// hover
#infobox-skip,
#infobox-link { cursor: pointer; }
