/**
 * Taxonomy Tree Styles
 */

// tree
#taxonomytree {
    svg {
        // set custom svg width here
    }
    .label { transform: translate(0,-5px); }
    .taxonomy { fill: rgba(0,0,0, 1); }

    // hover
    .node,
    .label,
    .label-button,
    .label-curvy { cursor: pointer; }

    // highlight
    .label,
    .label-curvy {
        font-weight: 400;
        font-size: .7em;

        &.highlight {
            font-weight: 600;
        }
    }
    .link,
    .label-line,
    .label-button,
    .label-button-circle,
    .label-button-line {
        fill: none;
        stroke-width: 1;

        &.highlight {
            stroke-width: 2.25;
        }
    }
}

// infobox
#infobox {
    z-index: 400;
    position: fixed;
    top:  0;
    left: 0;
    margin: 10vh 10vw;
    max-width: 80vw;
    width:  80vw;
    height: 80vh;
    background-color: rgba(255,255,255, 1);
    border: 2px solid rgba(0,0,0, 1);

    &.hide-me {
        display: none;
    }
}
#infobox-skip {
    display: block;
    text-align: right;
    margin: 10px;
}
#infobox-text {
    margin: 0px 15px;
    h3 {}
    p {}
}

// hover
#infobox-skip,
#infobox-link { cursor: pointer; }


div.footnote {
     font-size: 70%;
     opacity: .6;
     &::before {
          content: "" ;
          display: block;
          width: 25%;
          height: 1em;
          border-top: 1px solid black;
          margin-top: 5em;
     }
}
